# Flask and Web Framework Core
Flask==3.0.3
gunicorn==22.0.0
flask_cors==4.0.0

# Database
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9

# User Authentication & Security
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-WTF==1.2.1
email-validator==2.1.0.post1

# Internationalization (i18n)
Flask-Babel==3.1.0

# Server-Side Sessions & Email
Flask-Session==0.5.0
Flask-Mail==0.9.1

# Utilities
requests==2.32.3
python-dotenv==1.0.0